* {
    padding: 0;
    margin: 0;
}

body {
    justify-content: center;
    align-items: center;
}

/*TEXT COLORS*/

h1 {
    color: #e5e7eb
}

/*BACKGROUND COLORS*/

section.hero {
    background-color: #1F2937;
}

/* FLEX CONTAINER */
body, section, nav > ul, .navbar {
    display: flex;
}

/* FLEX WRAP */
body,
section,
nav > ul,
.navbar {
    flex-wrap: wrap;
}

/* FLEX GAP */
 nav > ul{
    gap: 12px;
}

section {
    justify-content: center;
    width: 100%;
    padding: 24px 5%;
}

section > * {
    flex: .05 1 1000px;
}

h1 {
    font-size: 24px;
    margin-right: auto;
}

