* {
    padding: 0;
    margin: 0;
}

body {
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

/* HEIGHT*/
div.image {
    height: 100%;
}

/* WIDTH */
div.image {
    width: 100%;
}

/* PADDING */
section {
    padding: 24px 5%;
}

section.hero > .content {
    padding-top: 48px;
    padding-bottom: 48px;
}

button {
    padding: 12px 24px;
}


/*FONT SIZE*/
ul>a,
div.image,
section.hero .secondary {
    font-size: 18px;
}

h1 {
    font-size: 24px;
}

section.info h2 {
    font-size: 36px;
}

section.hero .primary {
    font-size: 48px;
}

/*FONT WEIGHT*/
section.hero .primary,
button {
    font-weight: bolder;
}

/*TEXT COLORS*/
h1,
section.hero .primary,
div.image,
button {
    color: #F9FAF8
}

img,
section.hero .secondary,
ul > a {
    color: #e5e7eb;
}

/*BACKGROUND COLORS*/
footer,
section.hero {
    background-color: #1F2937;
}

section.quote {
    background-color: #E5E7EB;
}

button,
section.action .modal {
    background-color: #3882F6;
}

div.image {
    background-color: GRAY;
}

/* BORDER */
section.hero button {
    border: none;
}

section.action button {
    border: white;
}

div.image {
    border-radius: 8px;
}

button {
    border-radius: 24px
}
/* FLEX CONTAINER */
body, section,
nav > ul,
section.hero > .content,
section.hero > .content > .text,
section.hero > .content > .image,
.navbar {
    display: flex;
}

/* FLEX ITEMS */
section.hero > .content > * {
    flex: 1;
}

section>* {
    flex: .05 1 900px;
}

/* FLEX WRAP */
body,
section,
nav > ul,
section.hero>.content>.text,
.navbar {
    flex-wrap: wrap;
}

/* FLEX GAP */
 nav > ul, 
 section.hero>.content>.text {
    gap: 12px;
}

 nav>ul {
     gap: 24px;
 }

section.hero>* {
     gap: 4%;
 }

/* JUSTIFY CONTENT */
div.image {
    justify-content: center;
}

/* ALIGN ITEMS */
div.image {
    align-items: center;
}

section {
    justify-content: center;
    width: 100%;
}

h1 {
    font-size: 24px;
    margin-right: auto;
}

