* {
    padding: 0;
    margin: 0;
}

body {
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

/* HEIGHT*/


section.info div.image {
    height: 144px;
}

/* WIDTH */
div.image,
section {
    width: 100%;
}

/* MARGIN */

h1 {
    margin-right: auto;
}

figcaption {
    margin-left: auto;
}

/* PADDING */
section {
    padding: 24px 5%;
}

section.hero > .content,
section.info > .cards,
figure {
    padding-top: 48px;
    padding-bottom: 48px;
}

button {
    padding: 12px 24px;
}

section.info .card p {
    padding: 8px;
}

/*FONT SIZE*/
ul>a,
div.image,
section.hero .secondary {
    font-size: 18px;
}

h1,
figcaption {
    font-size: 24px;
}

h2,
blockquote{
    font-size: 36px;
}

section.hero .primary {
    font-size: 48px;
}

/*FONT WEIGHT*/
section.hero .primary,
button,
figcaption {
    font-weight: bolder;
}

/* FONT STYLE */
blockquote {
    font-style: italic;
}

/*TEXT COLORS*/
h1,
section.hero .primary,
div.image,
button {
    color: #F9FAF8
}

img,
section.hero .secondary,
ul > a {
    color: #e5e7eb;
}

h2,  
section.info p {
    color: #1F2937;
}

/*BACKGROUND COLORS*/
footer,
section.hero {
    background-color: #1F2937;
}

section.quote {
    background-color: #E5E7EB;
}

button,
section.action .modal {
    background-color: #3882F6;
}

section.hero div.image {
    background-color: GRAY;
}

/* BORDER */
section.hero button {
    border: none;
}

section.action button {
    border: white;
}

section.info div.image {
    border: solid #3882F6;
}

div.image {
    border-radius: 8px;
}

button {
    border-radius: 24px
}
/* FLEX CONTAINER */
body,
section,
figure,
nav > ul,
section.hero > *,
section.hero > * > *,
.cards,
.card,
.navbar {
    display: flex;
}

/* FLEX ITEMS */

section.hero > .content > * {
    flex: 1;
}

.card {
    flex: 0 1 150px;
}

section>* {
    flex: .05 1 900px;
}

figure {
    flex: 0 1 744px;
}

/* FLEX WRAP */
body,
section,
figure,
nav > ul,
section.hero>.content>.text,
.cards,
.card,
.navbar {
    flex-wrap: wrap;
}

/* FLEX GAP */
 nav > ul, 
 section.hero>.content>.text {
    gap: 12px;
}

 nav>ul {
    gap: 24px;
 }

 .cards {
    gap: 48px;
 }

section.hero>* {
    gap: 4%;
 }

/* JUSTIFY CONTENT */
div.image,
.cards,
.card,
section {
    justify-content: center;
}

/* ALIGN ITEMS */
div.image {
    align-items: center;
}



/* TEXT ALIGN */
section.info {
    text-align: center;
}



